.ex-1-box{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	background-color: #eb6100;
	text-align: center;
}
.ex-1-box:before {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.ex-1 {
	width: 250px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
}
.ex-1 img{
	width: 100%;
}
